.products{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
.product-name{
    color: blue;
    font-weight: 700;
}
.cart-btn{
    background-color: #F0C14B;
    height: 30px;
    width: 190px;
    border: 1px solid #A88734;
    border-radius: 5px;
    cursor: pointer;
}
.product-details{
    margin-left: 15px;
}